.card-footer{

background-color: white;


}

.card-body{
    overflow:hidden;
    text-overflow: ellipsis;
    height: 369px;
}

.display-3{

    margin: 1cm;
    padding: 5px;


}

#module {
    width: 500px;
    line-height: 1.5;
  }
  
  #module p.collapse[aria-expanded="false"] {
      display: block;
      height: 200px !important;
      overflow: hidden;
  }
  
  #module p.collapsing[aria-expanded="false"] {
      height: 200px !important;
  }
  
  #module a.collapsed:after  {
      content: '+ Show More';
  }
  
  #module a:not(.collapsed):after {
      content: '- Show Less';
  }